.topnav {
  background-color:#fff;
  overflow: hidden;
}
.topnav a {
  border: 1px solid transparent;
  color: #262626;
  display: inline-block;
  margin-top: 1px;
  padding: 16px 8px 10px;
  height: 48px;
  outline-offset: -2px;
}
